.sobreNosotros {
  .tituloMapa {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mapa {
    margin-left: 25%;
  }
  .quienesSomos {
    margin-top: 50px;
    color: brown;
    text-align: center;
  }
  .productos {
    margin-top: 50px;
    color: brown;
    text-align: center;
  }
}
